

@font-face {
  font-family: "Creepy";
  src: url("Assets/Fonts/Creepy.woff") format("woff"),
       url("Assets/Fonts/Creepy.woff2") format("woff2");
}

@font-face {
  font-family: "Creepy";
  src: url("Assets/Fonts/Lunacy.woff") format("woff"),
       url("Assets/Fonts/Lunacy.woff2") format("woff2");
}

* {
box-sizing: border-box;
}

html {
min-height: 100vh;
cursor: url(Assets/Cursors/Ghost.cur), auto;
font-family: Creepy;
}

body {
margin: 0;
background: radial-gradient(#3D2200, #9D5900);
}

.page-title {
color: black;
font-family: Creepy, serif;
font-weight: normal;
text-align: center;
font-size: 6em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: black;
  font-size: 4em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;

}

.card {
  position: relative;
  cursor: url("Assets/Cursors/GhostHover.cur"), auto;
  height: 175px;
  width: 125px;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}


